/* ----------------------------

共通

------------------------------*/
header {
    font-family: 'Lato', sans-serif;
}

main {
    font-family: 'Lato', sans-serif;
}

footer {
    font-family: 'Lato', sans-serif;
}

.text {
    font-family: sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

/* ----------------------------

header

------------------------------*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

li {
    padding: 16px;
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    h1 {
        padding: 16px;
    }
    .header_menu {
        width: 100%;
    }
    ul {
        padding: 0;
    }

    li {
        width: 50%;
        border: 1px solid #d8d8d8;
    }
}

/* ----------------------------

About

------------------------------*/
.about_area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.about_area_image {
    width: 50%;
}

.about_area_desc {
    width: 50%;
    padding: 16px;
}

.about_area_desc_icon {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
}

.about_area_desc_icon a:hover {
    opacity: 0.6;
}

.fa-twitter-square {
    color: #1DA1F2;
    font-size: 50px;
    opacity: 0.8;
}

.fa-envelope {
    color: #495157;
    font-size: 50px;
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .about_area_image {
        width: 100%;
    }

    .about_area_desc {
        width: 100%;
    }
}

/* ----------------------------

Service

------------------------------*/
#service h3 {
    text-align: center;
    margin-bottom: 40px;
}

.service-icon {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    color: #535252;
}

/* ----------------------------

Skills

------------------------------*/
#skills img {
    width: 100%;
    border: 1px solid #d8d8d8;
}

#skills p {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .text {
        text-align: center;
    }

}

/* ----------------------------

Contact

------------------------------*/
.form {
    width: 400px;
    margin: 0 auto 40px;
}
label {
    display: block;
}

input {
    display: block;
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
}

.form_content {
    margin-bottom: 20px;
}

button {
    background-color: gray;
    color: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.test {
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .form {
        width: 100%;
        border: 1px solid #d8d8d8;
    }

}
